<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.apicloud.sdk.moduleVideo">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true" >


        <activity android:name="com.apicloud.moduleVideo.MainActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
            android:screenOrientation="landscape"
             />
        <activity android:name="com.apicloud.moduleVideo.LauncherTestActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
            />
    </application>

</manifest>
